/*Estilos Generales*/
body {
    background-color: var(--color-gris-fondo)
}

:root {
    --color-gris-fondo: #F6F7FB;
    --color-iconos: #535970;
    --color-oscuro: #1F2026;
    --color-azul-claro: #77D6DC;
    --color-morado: #294BB5;
    --color-gris-oscuro: #898B96;
    --color-gris-clato: F6F7FB;
}


/*Estilos Generales*/

/*Estilos del Login*/
.login-body {
    overflow: hidden;
}

.login-img {
    height: 100vh;
    width:100%;
}

.Login-Form {
    padding-left: 10%;
    padding-top: 15%;
    padding-right: 20%
}

.Bienvenido-Login {
    font-family: 'Roboto';
    font-size: 4.688rem;
}

.p-login {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1.1rem
}

.txtUserData {
    border:none;
    outline: none;
    border-bottom: solid 1px #1F2026;
    width: 300px !important;
 
    
}

.btnIniciarSesion {
    background-color: var(--color-morado);
    width:100% !important;
    height: 50px !important;
  
}

/*Estilos del Login*/

/*Sidebar - Menu*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}



.wrapper {
    display: flex;
    position: relative;
}

    .wrapper .sidebar {
        width: 200px;
        height: 100%;
        background: white;
        padding: 30px 0px;
        position: fixed;
    }

        .wrapper .sidebar h2 {
            color: #515151;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 30px;
        }

        .wrapper .sidebar ul li {
            padding: 15px;
            border: none;
        }

            .wrapper .sidebar ul li a {
                color: var(--color-gris-oscuro);
                display: block;
                font-family: 'Roboto';
                font-weight: 500;
                text-decoration: none;
            }

                .wrapper .sidebar ul li a .fas {
                    width: 25px;
                }

            .wrapper .sidebar ul li:hover {
                background-color: #594f8d;
            }

                .wrapper .sidebar ul li:hover a {
                    color: #fff;
                }

 /*Top navbar*/

.profile-pic {
    border-radius: 100%;
    background-color: #C3ECF1;
    height: 50px;
    width: 50px;
    order: 2;
    margin-left: 50px;
    
}

.shopping-bag {
    height: 30px;
    width: 30px;
    justify-self: flex-end;
    margin-left: auto;
    border: none;
    background: none;
    outline: none;
}

.header-nav {
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 5%;
    
}

/*Main Content*/

.main-container {
    padding-right: 5%;
}

  